<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBn2thp3Jk4KJMvqTHz_0JVcXvZ1RR19mA</string>
	<key>GCM_SENDER_ID</key>
	<string>77812817782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gideon.FINAL--55-</string>
	<key>PROJECT_ID</key>
	<string>final-cs5520</string>
	<key>STORAGE_BUCKET</key>
	<string>final-cs5520.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77812817782:ios:53039d50c368c84f766457</string>
</dict>
</plist>